/* line 1, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
}

/* line 31, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 35, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 42, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 47, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 51, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 57, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 65, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Lato");
/* line 7, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 14, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
body {
  font-family: 'Fjalla One','Helvetica Neue',Arial,sans-serif;
  color: #001A33;
  webkit-tap-highlight-color: #222;
  padding-top: 95px;
  margin: 0;
}

/* workaround modal-open padding issue */
/* line 23, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
body.modal-open {
  padding-right: 0 !important;
}

/* line 27, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
hr {
  max-width: 120px;
  border-width: 3px;
  opacity: 0.08;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 35, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
hr.light {
  border-color: #fff;
  opacity: 1;
}

/* line 40, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
hr.primary {
  border-color: #007FFF;
  opacity: 1;
}

/* line 45, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
a {
  color: #007FFF;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

/* line 52, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
a:hover,
a:focus {
  color: #222;
  outline: 0;
}

/* line 58, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
  font-family: 'Fjalla One', 'Helvetica Neue',Arial,sans-serif;
}

/* line 65, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.text-normal {
  font-family: 'Helvetica Neue',Arial,sans-serif;
}

/* line 69, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.wide-space {
  letter-spacing: 1.6px;
}

/* line 73, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.icon-lg {
  font-size: 50px;
  line-height: 18px;
}

/* line 78, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.bg-primary {
  background-color: #007FFF;
}

/* line 82, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.bg-alt {
  background-color: #fff;
}

/* line 86, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.text-faded {
  color: rgba(245, 245, 245, 0.7);
}

/* line 90, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.text-dark {
  color: #001A33;
}

/* line 94, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.text-light {
  color: #fff;
}

/* line 98, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.text-light:hover, .text-light:focus {
  color: #eee;
  text-decoration: none;
}

/* line 103, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.text-primary {
  color: #007FFF;
}

/* line 107, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
section {
  padding: 70px 0;
}

/* line 111, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
aside {
  padding: 45px 0;
}

/* line 115, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 8px;
  z-index: -1;
}

/* line 127, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
footer h4, footer h6 {
  color: #fff;
}

/* line 131, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.navbar {
  border-color: rgba(35, 35, 35, 0.05);
  background-color: #f5f5f5;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

/* line 139, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.navbar-brand {
  color: #007FFF;
  padding: 1px;
  line-height: 1.90em;
  -webkit-transition: padding .2s ease-in;
  -moz-transition: padding .2s ease-in;
  transition: padding .2s ease-in;
  float: none;
}

/* line 149, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.navbar-brand:hover,
.navbar-brand:focus {
  color: #007FFF;
}

/* line 154, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #001A33;
}

/* line 158, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.navbar .navbar-toggle, .navbar-default .navbar-collapse {
  border-color: transparent;
}

/* line 162, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:focus {
  font-size: 12px;
  color: #001A33;
  text-transform: uppercase;
}

/* line 169, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus:hover {
  color: #007FFF;
}

/* line 174, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.active:focus {
  color: #007FFF !important;
  background-color: transparent;
}

/* responsive nav */
@media (max-width: 48em) {
  /* line 182, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  .navbar .navbar-nav > .nav-item {
    float: none;
    margin-left: .1rem;
  }

  /* line 186, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  .navbar .navbar-nav {
    float: none !important;
  }
}
@media (min-width: 48em) {
  /* line 192, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  .navbar {
    border-color: transparent;
    background-color: #f5f5f5;
    min-height: 60px;
  }

  /* line 198, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  .navbar-brand {
    color: #007FFF;
    float: left;
    padding-left: 1px;
  }

  /* line 204, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #001A33;
  }

  /* line 209, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  .navbar .navbar-nav > li > a,
  .navbar .navbar-nav > li > a:focus {
    color: #001A33;
    letter-spacing: 1.1px;
  }

  /* line 215, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  .navbar .navbar-nav > li > a:hover,
  .navbar .navbar-nav > li > a:focus:hover {
    color: #001A33;
  }

  /* line 220, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  #topNav {
    background-color: #fff;
  }
}
/* line 226, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
header {
  position: relative;
  min-height: auto;
  text-align: center;
  color: #001A33;
  width: 100%;
  background-color: #fff;
}

/* line 235, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
  z-index: 2;
}

/* line 243, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
header .header-content .inner h1 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 248, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
header .header-content .inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: #222;
}

@media (min-width: 34em) {
  /* line 256, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  .icon-lg {
    font-size: 80px;
  }

  /* line 260, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  header {
    min-height: 100%;
  }

  /* line 264, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* line 273, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  header .header-content .inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  /* line 279, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  header .header-content .inner h1 {
    font-size: 53px;
  }

  /* line 283, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  header .header-content .inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }

  /* line 290, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
  section {
    min-height: 600px;
    padding: 100px 0;
  }
}
/* line 297, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.list-group-item, .card-footer {
  background-color: transparent;
}

/* line 301, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
textarea {
  resize: none;
}

/* line 305, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.call-to-action h2 {
  margin: 0 auto 20px;
}

/* line 309, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.btn.btn-primary {
  font-family: 'Fjalla One','Helvetica Neue',Arial,sans-serif;
  background-color: transparent;
  border: 1px solid #007FFF;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  color: #007FFF;
}

/* line 319, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.btn.btn-primary:hover {
  opacity: 0.7;
}

/* line 323, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.btn-primary-outline {
  border-color: #007FFF;
  color: #007FFF;
}

/* line 327, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.btn-primary-outline:hover {
  background-color: #007FFF;
}

/* line 331, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.btn-xl {
  padding: 15px 30px;
  font-size: 20px;
}

/* line 336, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

/* line 342, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

/* line 348, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
img::selection {
  color: #fff;
  background: 0 0;
}

/* line 353, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
img::-moz-selection {
  color: #fff;
  background: 0 0;
}

/* line 358, /Users/shimei/code/wdi/project-4-solve-employment/app/assets/stylesheets/static.scss */
.container {
  padding-bottom: 50px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

