<h3>Your Profile</h3>
<div class="container-fluid">
  <p>Email Address: <%= current_user.email %></p>
  <p>Total Number of job applications: <%= current_user.employee.job_applications.count %></p>
  <p>Average Rating: </p>
</div>
