
<h1>Job Applications</h1>

<% if current_user.role == 'employee'%>
<table>
  <thead>
    <tr>
      <th>Coverletter</th>
      <th>Job</th>
      <th>Status</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @job_applications_made.each do |job_application| %>
      <tr>
        <td><%= job_application.coverletter %></td>
        <td><%= job_application.job.title %></td>
        <td><%= job_application.status %></td>
        <td><%= link_to 'Show', job_application %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
