
<p>
  <strong>Coverletter:</strong>
  <%= @job_application.coverletter %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job_application.job.title %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @job_application.employee.name %>
</p>

<%= link_to 'Back to All Jobs', jobs_path %>
