<div class="container-fluid">

<%= link_to "SIGN UP AS EMPLOYER", new_user_registration_path({:role=>"employer"}), class: "btn btn-secondary btn-lg btn-block", style: "margin:0" %>
<%= link_to "SIGN UP AS EMPLOYEE", new_user_registration_path({:role=>"employee"}), class: "btn btn-secondary btn-lg btn-block", style: "margin:0" %>
<%= link_to "LOGIN", new_user_session_path, class: "btn btn-secondary btn-lg btn-block", style: "margin:0" %>

</div>
