<section>

<header id="first">

<div class="header-content">
    <div class="inner">
        <h1>Solve Employment</h1>
        <p class="wow fadeIn text-normal wow fadeIn"><i> An employment portal by Solve Education </i></p>
        <%= link_to "SIGN UP AS EMPLOYER", new_user_registration_path({:role=>"employer"}), class:"btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3", style: "margin:0" %>
        <%= link_to "SIGN UP AS EMPLOYEE", new_user_registration_path({:role=>"employee"}), class:"btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3", style: "margin:0" %>
        <br><br>
        <div class="container">
          <%= link_to "LOGIN", new_user_session_path, class:"btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3", style: "margin:0" %>
        </div>
    </div>
</div>
</header>
</section>
