<header id="first">
  
<div class="header-content">
    <div class="inner">
        <h1>Solve Employment</h1>
        <p class="wow fadeIn text-normal wow fadeIn">Lorem ipsum dolor sit amet, mutat paulo euripidis ius in, modus accumsan qualisque ne has. At zril salutandi qui, offendit elaboraret vim te. Quo eu brute nominavi abhorreant, id illum augue vix. Vel doming insolens dissentiet ea.</p>
        <%= link_to "SIGN UP AS EMPLOYER", new_user_registration_path({:role=>"employer"}), class:"btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3", style: "margin:0" %>
        <%= link_to "SIGN UP AS EMPLOYEE", new_user_registration_path({:role=>"employee"}), class:"btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3", style: "margin:0" %>
        <br><br>
        <div class="container">
          <%= link_to "LOGIN", new_user_session_path, class:"btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3", style: "margin:0" %>
        </div>
    </div>
</div>
</header>
