<h1>Static#homepage</h1>
<p>Find me in app/views/static/homepage.html.erb</p>

<%= link_to "employer signup", new_user_registration_path({:role=>"employer"}), class: "btn green col-sm-6", style: "margin:0" %>
<%= link_to "employee signup", new_user_registration_path({:role=>"employee"}), class: "btn green col-sm-6", style: "margin:0" %>
