
<%= render 'partials/employer-profile' %>

<div class="container-fluid">

<%= link_to 'Edit', edit_user_registration_path(@employer), :class => "btn btn-primary" %>
<%= link_to 'Back', jobs_path, :class => "btn btn-primary" %>
</div>
