// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');


html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

body {
    font-family: 'Raleway','Helvetica Neue',Arial,sans-serif;
    color: #001A33;
    webkit-tap-highlight-color: #222;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}

hr {
    max-width: 120px;
    border-width: 3px;
    opacity: 0.08;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.light {
    border-color: #fff;
    opacity: 1;
}

hr.primary {
    border-color: #007FFF;
    opacity: 1;
}

a {
    color: #007FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #222;
    outline: 0;
}

p {
    font-size: 17px;
    // line-height: 1.7;
    // margin-bottom: 20px;
    font-family:'Open Sans', 'Helvetica Neue',Arial,sans-serif;
}

.text-normal {
    font-family:'Helvetica Neue',Arial,sans-serif;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #007FFF;
}

.bg-alt {
    background-color: #fff;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #001A33;
}

.text-light {
    color: #fff;
}

.text-light:hover,.text-light:focus {
    color: #eee;
    text-decoration:none;
}

.text-primary {
    color: #007FFF;
    height: 900px;
}

.blue-bg {
   padding-top: 50px;
   background-image: url("https://www.xmple.com/wallpaper/gradient-white-blue-linear-1920x1080-c2-87ceeb-ffffff-a-45-f-14.svg");
}

aside {
    padding: 45px 0;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-color: rgba(#f1f1f1, 1);
  text-align: center;
  padding-top: 8px;
  z-index: -1;
  -moz-box-shadow: 0px -2px 3px rgba(#f1f1f1, .5);
  -webkit-box-shadow: 0px -2px 3px rgba(#f1f1f1,.5);
  box-shadow: 0px -2px 3px rgba(#f1f1f1,.5);
}

footer h4, footer h6 {
    color:#fff;
}

.navbar {
    border-color: rgba(35,35,35,.05);
    background-color: rgba(#f1f1f1, 1);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    -moz-box-shadow: 0px 2px 3px rgba(#f1f1f1, .5);
    -webkit-box-shadow: 0px 2px 3px rgba(#f1f1f1,.5);
    box-shadow: 0px 2px 3px rgba(#f1f1f1,.5);
}

.navbar-brand {
    color: #007FFF;
    padding: 1px;
    line-height: 1.90em;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    float:none;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #007FFF;
}

.navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #001A33;
}

.navbar .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar .navbar-nav > li>a,
.navbar .navbar-nav>li>a:focus {
    font-size: 12px;
    color: #001A33;
    text-transform: uppercase;
}

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus:hover {
    color: #007FFF;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.active:focus {
    color: #007FFF !important;
    background-color: transparent;
}

/* responsive nav */
@media(max-width:48em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
}

@media(min-width:48em) {
    .navbar {
        border-color: transparent;
        background-color: #rgba(#fff, 1);
        min-height: 60px;
    }

    .navbar-brand {
        color: #007FFF;
        float: left;
        padding-left: 1px;
    }

    .navbar .navbar-brand:hover,
    .navbar .navbar-brand:focus {
        color: #001A33;
    }

    .navbar .navbar-nav > li > a,
    .navbar .navbar-nav> li > a:focus {
        color: #001A33;
        letter-spacing: 1.1px;
    }

    .navbar .navbar-nav > li > a:hover,
    .navbar .navbar-nav > li > a:focus:hover {
        color: #001A33;
    }

    #topNav {
      background-color:#fff;
    }
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #001A33;
    width: 100%;
    background-color: #fff;

}

header .header-content {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-bottom: 0px;
}

header .header-content .inner p {
    font-size: 16px;
    font-weight: 300;
    color: #222;
}

@media(max-width:34em) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 100%;
        margin-top: 0;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        margin-top: 300px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 35px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 14px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.list-group-item, .card-footer {
    background-color:transparent;
}

textarea {
    resize: true;
    width: 300px;
    height: 150px;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.btn.btn-primary {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: transparent;
    border:1px solid #007FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color:#007FFF;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn-primary-outline {
    border-color:#007FFF;
    color:#007FFF;
}
.btn-primary-outline:hover {
    background-color:#007FFF;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.container {
  padding-bottom: 50px;
}

.badge-middle {
    vertical-align: middle;
}

.box {
  border: solid 2px rgb(215, 210, 210);
  border-radius: 3px;
  box-shadow: 4px 4px 5px #b0aeae;
}

.margin {
  margin: 0;
}

.text-blue {
  color: #007FFF;
  font-size: 20px;
}

.text-blue2 {
  color: #007FFF;
}

.inner {
  margin: 100px 0;
}
